.button-prod{
    width: 100%;
    background: #e0d0c1;
    border: none;
    padding: 12px;
    color: #514942;
    margin: 10px;
    font-size: 16px;
    border-radius: 50px;
}
.infoproducto {
    font-family: 'Poppins', sans-serif;
}
.card:hover{
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
    border-radius: 10px;
}
.card-body{
    text-align: center;
}
.card{
    border: none;
    margin: 30px;
}
.card img{
    border: solid #e0d0c1;
    border-radius: 10px 10px 10px;
}
